* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-lato);
}

:root {
    --font-lato: "Lato", sans-serif;
    --font-Merriweather: "Merriweather", sans-serif;
}

.main__container {
    display: grid;
    grid-template-areas:
    "section__text"
    "section__list"
    "container__form";
    height: auto;
}

.section__text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 85vh;
    background-color: #D7D5FF;
}

.div-text  {
    position: relative;
    left: 1.3rem;
    max-width: 450px;
}

#section__text-title {
    display: flex;
    justify-content: center;
    font-family: var(--font-Merriweather);
    font-size: 2.3rem;
    font-weight: 400;
    padding-bottom: 1rem;
    color: #2B2B2B;
}

#section__text-paragraph {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
    line-height: 2rem;
    font-size: 1.2rem;
    color: #2b2b2bcc;
}

#section__text-button {
    padding: 0.8rem;
    width: 155px;
    background-color: #6C63FF;
    color: white;
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.116);
    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
}

#section__text-button:hover {
    background-color: #7871ff;
    transition: 0.5s;
}

#section__text-img {
    position: relative;
    left: 2.5rem;
    float: right;
    transform: scale(0.8);
}

.section__list {
    display: grid;
    grid-area: "section__list";
    background-color: #F9F9F9;
    height: 100%;
}

.section__list-ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin: 4rem 0;
}

.purple__square {
    height: 38vh;
    background-color: #6C63FF;
}

.card {
    background-color: white;
    box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.041);
    margin: 1rem 1.2rem;
    width: 93%;
}

.title__card-h2 {
    padding: 1rem;
    font-family: var(--font-Merriweather);
    color: rgba(0, 0, 0, 0.842);
}

.paragraph__card-p {
    padding: 1rem;
    font-family: var(--font-lato);
    font-size: 1.1rem;
    color: #2b2b2bc5;
}

.section__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    background-color: #D7D5FF;
    height: 105vh;
}

#section__form-title {
    margin-top: 4rem;
    font-size: 2rem;
    font-family: var(--font-Merriweather);
    color: #2B2B2B;
    padding: 1.5rem;
}

.input {
    width: 48vw;
    height: 10vh;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 1.1rem;
    padding: 2rem 0.7rem;
}

.input-msg {
    width: 48vw;
    height: 25vh;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 1.1rem;
    padding: 1.2rem 0.7rem;
    line-height: 2rem
}

#section__form-title, .input, .input-msg, #section__form-button {
    position: relative;
    bottom: 3rem;
}

#section__form-button {
    background-color: #6C63FF;
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.158);
    color: white;
    width: 48vw;
    height: 15vh;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
}

#section__form-button:hover {
    background-color: #7871ff;
    transition: 0.5s;
}

@media (min-width: 320px) and (max-width: 375px) {
    .section__text {
        width: 100vw;
        height: 100vh;
    }

    #section__text-title {
        width: 40vw;
        font-size: 1.1rem;
    }

    #section__text-paragraph {
        font-size: 0.7rem;
        line-height: 1.4rem;
    }

    #section__text-img {
        position: relative;
        left: 1.5rem;
        width: 60vw;
        transform: scale(0.7);
    }

    #section__text-button {
        width: 22vw;
        height: 8vh;
        font-size: 0.8rem;
        text-align: center;
    }

    .section__list {
        width:  100vw;
    }

    .section__list-ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 1rem 0;
        width: 98vw;
    }

    .card {
        width: 80%;
        height: 38vh;
    }

    .purple__square {
        height: 20vh;
    }

    .title__card-h2 {
        width: 7rem;
        font-size: 0.7rem;
        padding: 0.5rem 0.8rem;
    }

    .paragraph__card-p {
        padding-top: 0.1rem;
        font-size: 0.6rem;
    }

    #section__form-title {
        font-size: 1.5rem;
    }

    .input {
        padding: 0.6rem;
        font-size: 0.8rem;
    }

    .input-msg {
        padding-top: 0.5rem;
        padding: 0.5rem;
        font-size: 0.8rem;
    }

    #section__form-button {
        height: 12vh;
        font-size: 0.8rem;
    }
}

 @media (width: 425px) {
    .section__text {
        width: 100vw;
        height: 100vh;
    }

    #section__text-title {
        width: 39vw;
        font-size: 1.5rem;
    }

    #section__text-paragraph {
        font-size: 0.7rem;
        line-height: 1.5rem;
    }

    #section__text-img {
        width: 60vw;
        transform: scale(0.6);
    }

    #section__text-button {
        width: 22vw;
        height: 8vh;
        font-size: 0.8rem;
        text-align: center;
    }

    .section__list {
        width: 100vw;
    }

    .section__list-ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 2rem 1rem;
        width: 50vw;
    }

    .card {
        width: 75%;
        height: 50vh;
    }

    .purple__square {
        height: 25vh;
    }

    .title__card-h2 {
        width: 10rem;
        font-size: 1rem;
        padding: 0.6rem 1rem;
    }

    .paragraph__card-p {
        padding-top: 0.1rem;
        font-size: 0.8rem;
    }

    #section__form-title {
        font-size: 1.5rem;
    }

    .input {
        padding: 1rem;
    }

    .input-msg {
        padding-top: 0.5rem;
    }

    #section__form-button {
        height: 20vh;
        font-size: 1rem;
    }
} 

 @media (width: 768px) {
    .section__text {
        width: 100vw;
        height: 100vh;
    }

    #section__text-title {
        width: 39vw;
        font-size: 1.8rem;
    }

    #section__text-paragraph {
        font-size: 1rem;
        line-height: 1.8rem;
    }

    #section__text-img {
        position: relative;
        width: 60vw;
        transform: scale(0.7);
    }

    #section__text-button {
        width: 20vw;
        height: 10vh;
        font-size: 1rem;
        text-align: center;
    }

    .section__list {
        width: 100vw;
    }

    .section__list-ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 2rem 0.5rem;
        width: 99vw;
    }

    .card {
        width: 80%;
        height: 60vh;
    }

    .purple__square {
        height: 30vh;
    }

    .title__card-h2 {
        width: 95%;
        font-size: 1.2rem;
        padding: 0.6rem 1rem;
    }

    .paragraph__card-p {
        padding-top: 0.1rem;
        font-size: 1rem;
    }

    #section__form-title {
        font-size: 1.5rem;
    }

    .input {
        padding: 1rem;
    }

    .input-msg {
        padding-top: 0.5rem;
    }

    #section__form-button {
        height: 20vh;
        font-size: 1rem;
    }
} 

@media (width: 1024px) {
    .section__text {
        height: 100vh;
    }

    .section__list-ul {
        width: 98vw;
    }

    .input {
        padding: 1rem;
        font-size: 1.1rem;
    }

    .input-msg {
        padding: 1rem 1rem ;
        font-size: 1.1rem;
    }

    #section__form-button {
        height: 30vh;
        font-size: 1.2rem;
    }
}

@media (width: 1440px) {
    .section__text {
        height: 100vh;
    }

    #section__text-img {
        position: relative;
        left: 5rem;
        width: 50vw;
        transform: scale(0.7);
    }

    .section__list-ul {
        width: 99vw;
    }

    #section__form-button {
        height: 30vh;
        font-size: 1.2rem;
    }
}